<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="#" />

    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css"
  </head>
  <body>
    <div class="container">
        <header>
            <div class="compass-icon"><img src="/icons/compass.svg" alt=""></div>
        </header>
        <div class="weather title">
            <h1>Simply Weather</h1>
            <p>View the current weather for you city</p>
        </div>
        <form action="/" method="POST">
            <input type="text" name="city"  class="ghost-input" placeholder="Enter a city">
        </form>
        <div class="result">
            <h1 class="temp">234.88</h1>
            <div class="icons-des">
                <img clas="icon" src="https://openweathermap.org/img/w/04n.png" alt="">
            </div>
        </div>
    </div>
  </body>
</html>
